/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}*/

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*end reset*/

:root {
  --bg-dark: #293241;
  --bg-header: #00A896;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.container {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr 70px;
}

header {
  display: flex;
  gap: 0.5rem;
  padding: 1.5rem;
  color: white;
  background-color: var(--bg-header);

  button {
    width: 5rem;
  }

  input {
    flex: 1;
  }
}

main {
  .library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  background-color: var(--bg-dark);
}

dialog {
  margin: auto;
}
